body {
	min-height:768px;
	padding-top:30px;
}

.jumbotron {
	margin-top:40px;
	padding:5px;
}

.jumbotron h3 {
	margin-left:6px;
}

.jumbotron > #list_group {
	min-height:120px;
}

.jumbotron > #list_group > .list-group-item {
	padding:15px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:5px;
}

.jumbotron > #list_group > .list-group-item > span {
	font-size:0.85em;
}

/* Task.html page specific */
.jumbotron > #list_group_single {
	margin:5px;
}

.jumbotron > .panel {
	margin:5px;
}
